# Views
# Create named views. Name must be unique. Map views to requests using
# the access-control-view option. Views can contain zero or more local-zone
# and local-data options. Options from matching views will override global
# options. Global options will be used if no matching view is found.
# With view-first yes, it will try to answer using the global local-zone and
# local-data elements if there is no view specific match.
# view:
#       name: "viewname"
#       local-zone: "example.com" redirect
#       local-data: "example.com A 192.0.2.3"
#       local-data-ptr: "192.0.2.3 www.example.com"
#       view-first: no
# view:
#       name: "anotherview"
#       local-zone: "example.com" refuse
