# {{ ansible_managed }}
# forward_zone

{% if unbound_config.forward_zone is defined and unbound_config.forward_zone | count != 0 -%}
forward-zone:
{% if unbound_config.forward_zone.name is defined %}
  name: "{{ unbound_config.forward_zone.name }}"
{% endif %}
{% for v in unbound_config.forward_zone.forward_addrs %}
  forward-addr: {{ v }}
{% endfor %}
{% endif %}
