# {{ ansible_managed }}

{% if unbound_config.server is defined -%}
# server
{{ unbound_config.server }}
{% endif -%}

{% if unbound_config.forward_zone is defined -%}
# forward_zone
{% endif %}

{% if unbound_config.remote_control is defined -%}
# remote_control

{% endif -%}
